In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(dbname="postgres", user="postgres", password="postgres", host='localhost')

In [3]:
cursor = conn.cursor()

In [4]:
create_query = """CREATE TABLE tasks(
    id SERIAL,
    description TEXT,
    priority SMALLINT,
    is_complete BOOLEAN
)
"""

In [67]:
create_query = """CREATE TABLE users(
    id SERIAL,
    username TEXT,
    password TEXT,
    is_admin BOOLEAN
)
"""

In [68]:
cursor.execute(create_query)

In [69]:
conn.commit()

In [14]:
insert_query = """INSERT INTO tasks(description, priority, is_complete) VALUES ('Ostatnie zadanie', 0, false)
"""

In [15]:
cursor.execute(insert_query)

In [16]:
conn.commit()

---

In [30]:
select_query = "SELECT * FROM tasks"

In [31]:
cursor.execute(select_query)

In [28]:
cursor.fetchone()

In [32]:
cursor.fetchall()

[(1, 'Opis zadania', 2, False),
 (2, 'Nowe zadanie', 1, True),
 (3, 'Nowe zadanie', 1, True),
 (4, 'Nowe zadanie 123', 31, False),
 (5, 'Ostatnie zadanie', 0, False)]

---

In [44]:
insert_query = """INSERT INTO tasks(description, priority, is_complete) VALUES ('sfsfsdfsdfds', 1234, false)
                  RETURNING id """

In [45]:
cursor.execute(insert_query)

In [46]:
record = cursor.fetchone()

In [47]:
record

(7,)

In [42]:
conn.commit()

---

In [49]:
id_number = "1"

In [50]:
query = f"UPDATE tasks SET priority = 9 WHERE id = {id_number}"

In [51]:
cursor.execute(query)

In [52]:
conn.commit()

---

In [64]:
id_number = "1; DROP TABLE users;"

In [65]:
query = f"UPDATE tasks SET priority = 12 WHERE id = {id_number}"

```sql
UPDATE tasks SET priority = 12 WHERE id = 1; DROP TABLE users;

```

In [66]:
cursor.execute(query)
conn.commit()

---

In [86]:
id_number = "1"

In [89]:
query = "UPDATE tasks SET priority=4 WHERE id = %s"

In [90]:
cursor.mogrify(query, (id_number,)).decode()

"UPDATE tasks SET priority=4 WHERE id = '1'"

In [93]:
cursor.execute(query, (id_number,))

In [94]:
conn.commit()

---

In [81]:
id_number = "1; DROP TABLE users"

In [82]:
query = "UPDATE tasks SET priority=3 WHERE id = %s"

In [83]:
cursor.execute(query, (id_number,))

InvalidTextRepresentation: invalid input syntax for type integer: "1; DROP TABLE users"
LINE 1: UPDATE tasks SET priority=3 WHERE id = '1; DROP TABLE users'
                                               ^

In [85]:
cursor.mogrify(query, (id_number,)).decode()

"UPDATE tasks SET priority=3 WHERE id = '1; DROP TABLE users'"